{% extends 'base.html' %}
<!-- Title -->
{% block title %}Parsed!{% endblock title %}
<!-- Style -->
{% block style %} button{ background-color: var(--red); border: 1px solid var(--white); color: var(--white); padding: 10px; font-size: 1em; font-weight: bold; border-radius: 5px; cursor: pointer; } {% endblock style %}
<!-- Body -->
{% block body %}
<h4 style="margin-left: 12.5%; margin-right: 12.5%">Over the past{% if years != 0 %}{% if years == 1 and months != 0%} year,{% elif years == 1 %} year and{% else %} {{years}} years and{% endif %}{% endif %}{% if months != 0 %}{% if months == 1 and years != 0 %} month,{% elif months == 1%} a month,{% else %} {{months}} months,{% endif %}{% endif %} you've exchanged {{sum}} messages, out of which {{you}} belong to you and {{contact}} belong to {{second}}!</h4>
<canvas id="can" width="250" height="250"></canvas>
<h5 style="margin: 0px">Your chat is available for download</h5>
<a href="/download/"><button style="margin: 2.5px">Download</button></a>
<h5 style="margin: 0px">Swap the names to change prespectives</h5>
<script>
  var canvas = document.getElementById("can");
  var ctx = canvas.getContext("2d");
  var lastend = 0;
  var data = [parseInt("{{PercentagePrimary}}"), parseInt("{{PercentageSecondary}}")];
  var myTotal = 0;
  var myColor = ["hsl(210, 70%, 55%)", "hsl(350, 70%, 55%)"];
  var labels = ["{{PercentagePrimary}}%", "{{PercentageSecondary}}%"];

  for (var e = 0; e < data.length; e++) {
    myTotal += data[e];
  }
  var off = 10;
  var w = (canvas.width - off) / 2;
  var h = (canvas.height - off) / 2;
  for (var i = 0; i < data.length; i++) {
    ctx.fillStyle = myColor[i];
    ctx.beginPath();
    ctx.moveTo(w, h);
    var len = (data[i] / myTotal) * 2 * Math.PI;
    var r = h - off / 2;
    ctx.arc(w, h, r, lastend, lastend + len, false);
    ctx.lineTo(w, h);
    ctx.fill();
    ctx.fillStyle = "white";
    ctx.font = "20px Arial";
    ctx.textAlign = "center";
    ctx.textBaseline = "middle";
    var mid = lastend + len / 2;
    ctx.fillText(labels[i], w + Math.cos(mid) * (r / 2), h + Math.sin(mid) * (r / 2));
    lastend += Math.PI * 2 * (data[i] / myTotal);
  }
</script>
{% endblock body %}
